
/* Board Variables
  - shudan-board-background-color must be similar to the board color
    it is used to erase spaces on the board for the marks.
  - shudan-board-foreground-color is normally used for the marks, as well as the
    board lines, hoshi and coordinates, but we use shudan-marker-foreground-color
    and shudan-marker-background-color instead.
*/
.shudan-goban {
  --shudan-board-border-width: 0;
  --shudan-board-foreground-color: #daa520;
  --shudan-marker-background-color: #111;
  --shudan-marker-foreground-color: #daa520;
  --shudan-stone-shadow-color: #280000;
}





/* Board */

/* Texture */
.shudan-goban-image {
    background-image: url('./board.jpg');
}


/* Grid Lines & Hoshi*/
.shudan-vertex .shudan-board::before {
  height: 1px;
}
.shudan-vertex .shudan-board::after {
  width: 1px;
}





/* Stones */

/* Black stone */
.shudan-stone-image.shudan-sign_1 {
  background-image: url('./black_stone.png');
}
/* Dead/dimmed Black stones */
.shudan-vertex.shudan-dimmed .shudan-stone-image.shudan-sign_1 {
 background-image: url('./zombie_black_stone.png');
}
/* White stone */
.shudan-stone-image.shudan-sign_-1 {
  background-image: url('./white_stone.png');
}
/* Dead/dimmed White stones */
.shudan-vertex.shudan-dimmed .shudan-stone-image.shudan-sign_-1 {
 background-image: url('./zombie_white_stone.png');
}


/* Random rotations for each stone */
.shudan-stone-image.shudan-sign_1.shudan-random_1,
.shudan-stone-image.shudan-sign_-1.shudan-random_1 {
  transform: scale(1.0) rotate(5deg);
}
.shudan-stone-image.shudan-sign_1.shudan-random_2,
.shudan-stone-image.shudan-sign_-1.shudan-random_2 {
  transform: scale(1.0) rotate(-5deg);
}
.shudan-stone-image.shudan-sign_1.shudan-random_3,
.shudan-stone-image.shudan-sign_-1.shudan-random_3 {
  transform: scale(1.0) rotate(10deg);
}
.shudan-stone-image.shudan-sign_1.shudan-random_4,
.shudan-stone-image.shudan-sign_-1.shudan-random_4 {
  transform: scale(1.0) rotate(-10deg);
}


/* Shadow */
.shudan-vertex:not(.shudan-sign_0) .shudan-shadow {
  background: var(--shudan-stone-shadow-color);
  box-shadow: .1em .1em .3em var(--shudan-stone-shadow-color);
}


/* Grow animation */
@keyframes stone-grow {
  from { transform: scale(0.2); }
}
.shudan-shadow,
.shudan-stone-image {
  animation-name: stone-grow;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
}





/* Markers */

/* ALL markers*/
.shudan-vertex .shudan-marker::before,
.shudan-vertex .shudan-marker::after,
.shudan-vertex.shudan-sign_1 .shudan-marker::before,
.shudan-vertex.shudan-sign_1 .shudan-marker::after,
.shudan-vertex.shudan-sign_-1 .shudan-marker::before,
.shudan-vertex.shudan-sign_-1 .shudan-marker::after {
  background: transparent;
  border-color: var(--shudan-marker-foreground-color);
  color: var(--shudan-marker-foreground-color);
}


/* Point */
.shudan-vertex.shudan-marker_point .shudan-marker,
.shudan-vertex.shudan-marker_point.shudan-sign_1 .shudan-marker,
.shudan-vertex.shudan-marker_point.shudan-sign_-1 .shudan-marker {
  background: var(--shudan-marker-foreground-color);
  box-shadow: 0 0 0 0.04em var(--shudan-marker-background-color);
}


/* Cross*/
.shudan-vertex.shudan-marker_cross .shudan-marker {
  background: transparent;
}
.shudan-vertex.shudan-marker_cross .shudan-marker::before,
.shudan-vertex.shudan-marker_cross .shudan-marker::after {
  box-shadow: 0 0 0 0.04em var(--shudan-marker-background-color);
}

/* Square, Circle & Loader */
.shudan-vertex.shudan-marker_square .shudan-marker::before,
.shudan-vertex.shudan-marker_circle .shudan-marker::before,
.shudan-vertex.shudan-marker_loader .shudan-marker::before {
  box-shadow:
    0 0 0 0.04em var(--shudan-marker-background-color) inset,
    0 0 0 0.04em var(--shudan-marker-background-color);
}


/* Triangle
  This one sucks the most!
  https://css-tricks.com/snippets/css/css-triangle/
*/
.shudan-vertex.shudan-marker_triangle .shudan-marker::before,
.shudan-vertex.shudan-marker_triangle.shudan-sign_1 .shudan-marker::before,
.shudan-vertex.shudan-marker_triangle.shudan-sign_-1 .shudan-marker::before{
  /* Border of the triangle */
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: var(--shudan-marker-background-color);
}
.shudan-vertex.shudan-marker_triangle .shudan-marker::after,
.shudan-vertex.shudan-marker_triangle.shudan-sign_1 .shudan-marker::after,
.shudan-vertex.shudan-marker_triangle.shudan-sign_-1 .shudan-marker::after {
  /* Inside of the triangle */
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: var(--shudan-marker-foreground-color);
}


/* Label */
.shudan-vertex.shudan-marker_label .shudan-marker::before,
.shudan-vertex.shudan-marker_label .shudan-marker::after {
  padding: 0.1em; /* slightly larger marker box to compensate for label border */
}
/*
Text can't have borders, but we can simulate it by creating 16 shadows and offsetting them in all directions
Here's some python to calculate the angles:
```
import numpy as np
offset = 0.7
def r(t):
  c, s = np.cos(t), np.sin(t)
  r = np.array(((c, -s),(s, c)))
  return r

for i in range(0, 16):
  rot = r((i/16.0) * np.pi * 2)
  print(rot.dot(np.array([offset,0])));
```
0.070 0.065 0.027 0.049 
*/
.shudan-vertex.shudan-marker_label .shudan-marker::before {
  text-shadow:
    0.07em  0.0em var(--shudan-marker-background-color), 0.065em   0.027em var(--shudan-marker-background-color), 0.049em   0.049em var(--shudan-marker-background-color), 0.027em   0.065em var(--shudan-marker-background-color),
    0.0em  0.07em var(--shudan-marker-background-color), -0.027em  0.065em var(--shudan-marker-background-color), -0.049em  0.049em var(--shudan-marker-background-color), -0.065em  0.027em var(--shudan-marker-background-color),
    -0.07em 0.0em var(--shudan-marker-background-color), -0.065em -0.027em var(--shudan-marker-background-color), -0.049em -0.049em var(--shudan-marker-background-color), -0.027em -0.065em var(--shudan-marker-background-color),
    0.0em -0.07em var(--shudan-marker-background-color), 0.027em  -0.065em var(--shudan-marker-background-color), 0.049em  -0.049em var(--shudan-marker-background-color), 0.065em  -0.027em var(--shudan-marker-background-color);
}


/* Line & Arrow */
.shudan-line,
.shudan-arrow,
.shudan-arrow::before,
.shudan-arrow::after {
  background: var(--shudan-marker-foreground-color);
  box-shadow: 0 0 0 0.04em var(--shudan-marker-background-color);
}
